body{
    background-color: rgb(38,135,7);
}

#wrapper
{
    width: 800px;
    min-width: 800px;
    height: 800px;
    min-height: 800px;
    margin: 0 auto;
    position: relative;
}

#field
{
    margin: 50px auto;
    width: 550px;
    height: 550px;
    background: repeating-linear-gradient(
            45deg,
            rgb(51,178,7),
            rgb(51,178,7) 20px,
            rgb(38,135,7) 20px,
            rgb(38,135,7) 40px
    );

}


#basepath
{
    width: 350px;
    height: 180px;
    background-color: tan;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    position: absolute; top: 150px; left: 50%;
    margin-left: -175px;

}

#infield *{
    z-index: 2;
}

#field #infield {
    width: 240px;
    height: 240px;
    background-color: #9BB237;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    position: absolute; left: 50%; top: 207px;
    margin-left: -124px;
    border-right: 8px solid tan;
    border-bottom: 8px solid tan;
}



#infield #pitchersMound{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: tan;
    position: absolute; top: 92px; left: 92px;

}

#rubber
{
    width: 10px;
    height: 20px;
    background-color: #fff;
    position: relative; left: 28px; top: 22px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);

}

#homePlate{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: tan;
    position: absolute; top: 208px; left: 206px;
}

.batterBoxOuter
{
    width: 12px;
    height: 24px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    background-color: tan;
    border: 2px dashed #fff;
    position: absolute; top: 218px; left: 222px;
}

.batterBoxInner
{
    width: 6px;
    height: 12px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    background-color: tan;
    border: 1px dashed #fff;
    position: absolute; top: 224px; left: 226px;
}

#infield .path1,.path2,.path3{
    width: 15px;
    height: 15px;
    background-color: white;
    z-index: 4;
}


#infield .path1{
    position: absolute; top: 0px; left: 225px;
}

#infield .path2{
    position: absolute; left: 0px; top: 0px;
}


#infield .path3 {
    position: absolute; top: 225px; left: 0px;
}

@-webkit-keyframes runThroughBases
{
    0%{
        -webkit-transform: translate(0,0) skewX(45deg);
    }
    25%{
        -webkit-transform: translate(0px,-240px) skewX(45deg);
    }

    50%{
        -webkit-transform: translate(-240px,-240px) skewX(35deg);
    }

    75%{
        -webkit-transform: translate(-240px,0px) skewX(35deg);
    }
    100%{
        -webkit-transform: translate(0,0) skewX(0deg);
    }
}

@-webkit-keyframes jump{
    from {
        -webkit-transform: translate(0px,0px);
    } to {
              -webkit-transform: translate(0px, -10px) skew(45deg);
          }
}

#runner {
    position: absolute;
    bottom: 5px;
    left: 50%;
    z-index: 5;
    margin-left: 97px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: 0%,0%;
    -webkit-animation-iteration-count: 1,20;
    -webkit-animation-direction: normal, alternate-reverse;
    -webkit-animation-name: runThroughBases,jump;
    -webkit-animation-delay: 0s,0s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 5s,500ms;
}





